/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter, arial;
    text-decoration: none;
    list-style: none;
}

/*dispositivos pequenos*/
/*IOS*/
@media screen and (-webkit-min-device-pixel-ratio: 300px) and (-webkit-max-device-pixel-ratio: 768px) {
    div#page-01 {
        background: linear-gradient(to bottom,#086afc, #C0D9FF);
        height: 100vh;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    header h1 {
        text-decoration: none;
        color: #07367d;
        font-family: poppins,Arial, Helvetica, sans-serif;
        font-weight: bolder;
        font-size: 50px;
    }

    header #navegation {
        display: none;
    }

    header #links {
        display: flex;
    }

    header #menu {
        display: none;
    }

    div#article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 7em;
    }

    section {
        height: 20em;
        width: 22em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section p#hello {
        font-family: poppins,Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #07367d;
        font-size: 30px;
    }

    section h2 {
        color: #ffffff;
        font-family: poppins,Arial, Helvetica, sans-serif;
        font-weight: bolder;
        color: #ffffff;
        font-size: 48px;
    }

    section p#rio {
        font-size: 25px;
        font-weight: 500;
    }

    .txt-animado {
        font-size: 30px;
        font-weight: bold;
    }

    .txt-animado span {
        position: relative;
    }

    .txt-animado span::before {
        content: "";
        color: #07367d;
        animation: palavras 15s infinite;
    }

    .txt-animado span::after {
        content: "";
        position: absolute;
        height: 100%;
        border-left: 2px solid white;
        right: -10px;
        animation: cursor .9s infinite, digita 20s steps(15) infinite ;
        width: calc(100% + 12px);
        background-color: #6797e0;
    }

    @keyframes digita {
        10%, 15%, 30%, 35%, 50%, 70%, 75%, 90%, 95% {
            width: 0;
        } 
        5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
            width: calc(100% + 12px);
        }
    }

    @keyframes cursor {
        0% {
            border-left: 2px solid #6797e0;
        }
    }

    @keyframes palavras {
        0%,20% {
            content: "Web Developer";
        }
        20%,40% {
            content: "Front-end ";
        }
        41%,60% {
            content: "Web Designer";
        }
        61%,80% {
            content: "UI/UX Designer";
        }
        81%,100% {
            content: "Web Developer";
        }
    }

    section #btn {
        display: flex;
        gap: 30px;
        margin-top: 2em;
    }

    section button {
        padding: 15px 23px;
        width: 425px;
        margin-top: 45px;
        border-radius: 18px;
        border: none;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
    }

    section #btn-01 {
        background-color: #07367d;
        color: #ffffff;
        transition: all 0.3s;
    }

    section #btn-01:hover {
        background-color: #3377dd;
    }

    section #btn-02 {
        background-color: #ffffff;
        color: #086afc;
        transition: all 0.5s;
    }

    section #btn-02:hover {
        background-color: #3377dd;
        color: #ffffff;
    }

    /*page-02*/

    #page-02 {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #page-02 #wellcome {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 8em;
        gap: 30px;
    }

    #page-02 #wellcome h2 {
        color: black;
        font-size: 30px;
        font-family: poppins, Arial, Helvetica, sans-serif;
    }

    #page-02 #wellcome p {
        color: rgba(0, 0, 0, 0.539);
        width: 420px;
}

#page-02 #cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-02 #cards .card {
    background-color: white;
    margin-top: 30px;
    width: 257px;
    height: 235px;
    border: 2px solid #086afc;
    border-radius: 20px;
    padding: 15px;
}

#page-02 #cards .card h2 {
    color: black;
    position: relative;
    top: 20px;
}

#page-02 #cards .card p {
    color: rgba(0, 0, 0, 0.573);
    position: relative;
    top: 50px;
}

#page-03 {
    background-color: #bfd7f939;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-03 h2#title {
    margin: 2em;
    font-size: 30px;
    font-weight: bold;
}

#page-03 #baloes {
    width: 340px;
    display: flex;
    flex-direction: column;
}

#page-03 #baloes .balao {
    background-color: rgb(255, 255, 255);
    padding: 40px 65px 40px 20px;
    margin-top: 2em;
    margin-bottom: 20px;
    border: 1px solid #3377dd;
    border-radius: 20px;
}

#page-03 #baloes .balao .year {
    color: #3377dd;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
}

#page-03 #baloes .balao h2 {
    color: #3377dd;
    font-size: 30px;
    font-weight: bold;
}

/*page-04*/

div#page-04 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#page-04 h2 {
    margin: 35px;
    font-size: 25px;
}

div#page-04 #linha-01 {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 15em;
}

div#page-04 #linha-01 .conjunto {
    width: 10em;
    display: flex;
    flex-direction: column;
}

div#page-04 #linha-01 .conjunto .card-principal {
    border: 1px solid blue;
    height: 9em;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #ffffff;
    background-color: #5f9fffd4;
    transition: all 0.5s;
}

div#page-04 #linha-01 .conjunto .card-principal:hover {
    background-color: #09377d;
}

div#page-04 #linha-01 .conjunto .links-01 {
    height: 3em;
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div#page-04 #linha-01 .conjunto .links-01 .deploy, .view {
    border: 1px solid #086afc;
    width: 5.1em;
    height: 3em;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    transition: all 0.5s;
}

div#page-04 #linha-01 .conjunto .links-01 .deploy {
    background-color: #086afc;
    color: white;
}

div#page-04 #linha-01 .conjunto .links-01 .deploy:hover {
    background-color: #6797e0;
    color: white;
}

div#page-04 #linha-01 .conjunto .links-01 .view {
    background-color: #ffffff;
    color: #086afc;
}

div#page-04 #linha-01 .conjunto .links-01 .view:hover {
    background-color: #6797e0;
    color: #ffffff;
}

/*linha 02*/
div#page-04 #linha-02 {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 15em;
}

div#page-04 #linha-02 .conjunto {
    width: 10em;
    display: flex;
    flex-direction: column;
}

div#page-04 #linha-02 .conjunto .card-principal {
    border: 1px solid blue;
    height: 9em;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #ffffff;
    background-color: #5f9fffd4;
    transition: all 0.5s;
}

div#page-04 #linha-02 .conjunto .card-principal:hover {
    background-color: #09377d;
}

div#page-04 #linha-02 .conjunto .links-02 {
    height: 3em;
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div#page-04 #linha-02 .conjunto .links-02 .deploy, .view {
    border: 1px solid #086afc;
    width: 5.1em;
    height: 3em;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    transition: all 0.5s;
}

div#page-04 #linha-02 .conjunto .links-02 .deploy {
    background-color: #086afc;
    color: white;
}

div#page-04 #linha-02 .conjunto .links-02 .deploy:hover {
    background-color: #6797e0;
    color: white;
}

div#page-04 #linha-02 .conjunto .links-02 .view {
    background-color: #ffffff;
    color: #086afc;
}

div#page-04 #linha-02 .conjunto .links-02 .view:hover {
    background-color: #6797e0;
    color: #ffffff;
}

/*linha 03*/
div#page-04 #linha-03 {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 15em;
}

div#page-04 #linha-03 .conjunto {
    width: 10em;
    display: flex;
    flex-direction: column;
}

div#page-04 #linha-03 .conjunto .card-principal {
    border: 1px solid blue;
    height: 9em;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #ffffff;
    background-color: #5f9fffd4;
    transition: all 0.5s;
}

div#page-04 #linha-03 .conjunto .card-principal:hover {
    background-color: #09377d;
}

div#page-04 #linha-03 .conjunto .links-03 {
    height: 3em;
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div#page-04 #linha-03 .conjunto .links-03 .deploy, .view {
    border: 1px solid #086afc;
    width: 5.1em;
    height: 3em;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    transition: all 0.5s;
}

div#page-04 #linha-03 .conjunto .links-03 .deploy {
    background-color: #086afc;
    color: white;
}

div#page-04 #linha-03 .conjunto .links-03 .deploy:hover {
    background-color: #6797e0;
    color: white;
}

div#page-04 #linha-03 .conjunto .links-03 .view {
    background-color: #ffffff;
    color: #086afc;
}

div#page-04 #linha-03 .conjunto .links-03 .view:hover {
    background-color: #6797e0;
    color: #ffffff;
}
}

/*dispositivos medios*/

/*IOS*/
@media screen and (-webkit-min-device-pixel-ratio: 768px) and (-webkit-max-device-pixel-ratio: 1024px) {}

/*ANDROID*/

/*dispositivos pequenos*/

@media (min-width: 300px) and (max-width: 768px) {

            /*page-01*/

    div#page-01 {
        background-color: #6797e0;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header h1 {
        text-decoration: none;
        margin-right: 1.5em;
        margin-left: calc(2.5em - 3em);
        color: #07367d;
        font-family: poppins,Arial, Helvetica, sans-serif;
        font-weight: bolder;
        font-size: 50px;
    }

    header #navegation {
        display: none;
    }

    header #links {
        display: flex;
    }

    header #translate {
        color: #09377d;
        width: 10px;
        margin-left: -0.8em;
        font-size: 40px;
        margin-top: 10px;
    }

    div#article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 7em;
    }

    section {
        height: 20em;
        width: 22em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section p#hello {
        font-family: poppins,Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #07367d;
        font-size: 30px;
    }

    section h2 {
        color: #ffffff;
        font-family: poppins,Arial, Helvetica, sans-serif;
        font-weight: bolder;
        color: #ffffff;
        font-size: 48px;
    }

    section p#rio {
        font-size: 25px;
        font-weight: 500;
    }

    /*
    section p#developer {
        color: #07367d;
        font-weight: bold;
        font-size: 27px;
    }
    */

    .txt-animado {
        font-size: 30px;
        font-weight: bold;
    }

    .txt-animado span {
        position: relative;
    }

    .txt-animado span::before {
        content: "";
        color: #07367d;
        animation: palavras 15s infinite;
    }

    .txt-animado span::after {
        content: "";
        position: absolute;
        height: 100%;
        border-left: 2px solid white;
        right: -10px;
        animation: cursor .9s infinite, digita 20s steps(15) infinite ;
        width: calc(100% + 12px);
        background-color: #6797e0;
    }

    @keyframes digita {
        10%, 15%, 30%, 35%, 50%, 70%, 75%, 90%, 95% {
            width: 0;
        } 
        5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
            width: calc(100% + 12px);
        }
    }

    @keyframes cursor {
        0% {
            border-left: 2px solid #6797e0;
        }
    }

    @keyframes palavras {
        0%,20% {
            content: "Web Developer";
        }
        21%,40% {
            content: "Front-end ";
        }
        41%,60% {
            content: "Web Designer";
        }
        61%,80% {
            content: "UI/UX Designer";
        }
        81%,100% {
            content: "Web Developer";
        }
    }

    section #btn {
        display: flex;
        width: 375px;
        gap: 30px;
        margin-top: 2em;
    }

    section button {
        padding: 15px 45px;
        border-radius: 18px;
        border: none;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
    }

    section #btn-01 {
        background-color: #07367d;
        color: #ffffff;
        transition: all 0.3s;
    }

    section #btn-01:hover {
        background-color: #3377dd;
    }

    section #btn-02 {
        background-color: #ffffff;
        color: #086afc;
        transition: all 0.5s;
    }

    section #btn-02:hover {
        background-color: #3377dd;
        color: #ffffff;
    }

    /*page-02*/

    #page-02 {
        height: 130vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #page-02 #wellcome {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 8em;
        gap: 30px;
    }

    #page-02 #wellcome h2 {
        color: black;
        font-size: 25px;
        font-family: poppins, Arial, Helvetica, sans-serif;
    }

    #page-02 #wellcome p {
        color: rgba(0, 0, 0, 0.539);
        width: 420px;
}

#page-02 #cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-02 #cards .card {
    background-color: white;
    margin-top: 30px;
    width: 257px;
    height: 235px;
    border: 2px solid #086afc;
    border-radius: 20px;
    padding: 15px;
}

#page-02 #cards .card h2 {
    color: black;
    position: relative;
    top: 20px;
}

#page-02 #cards .card p {
    color: rgba(0, 0, 0, 0.573);
    position: relative;
    top: 50px;
}

            /*PAGE-03*/

#page-03 {
    background-color: #bfd7f939;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-03 h2#title {
    margin: 2em;
    font-size: 30px;
    font-weight: bold;
}

#page-03 #baloes {
    width: 350px;
    display: flex;
    flex-direction: column;
}

#page-03 #baloes .balao {
    background-color: rgb(255, 255, 255);
    padding: 40px 65px 40px 20px;
    margin-top: 2em;
    margin-bottom: 20px;
    border: 1px solid #3377dd;
    border-radius: 20px;
}

#page-03 #baloes .balao .year {
    color: #3377dd;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
}

#page-03 #baloes .balao h2 {
    color: #3377dd;
    font-size: 30px;
    font-weight: bold;
}

/*PAGE-04*/
div#page-04 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#page-04 h2 {
    margin: 35px;
    font-size: 25px;
}

div#page-04 #linha-01 {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 15em;
}

div#page-04 #linha-01 .conjunto {
    width: 10em;
    display: flex;
    flex-direction: column;
}

div#page-04 #linha-01 .conjunto .card-principal {
    border: 1px solid blue;
    height: 9em;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #ffffff;
    background-color: #5f9fffd4;
    transition: all 0.5s;
}

div#page-04 #linha-01 .conjunto .card-principal:hover {
    background-color: #09377d;
}

div#page-04 #linha-01 .conjunto .links-01 {
    height: 3em;
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div#page-04 #linha-01 .conjunto .links-01 .deploy, .view {
    border: 1px solid #086afc;
    width: 4.7em;
    height: 3em;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    transition: all 0.5s;
}

div#page-04 #linha-01 .conjunto .links-01 .deploy {
    background-color: #086afc;
    color: white;
}

div#page-04 #linha-01 .conjunto .links-01 .deploy:hover {
    background-color: #6797e0;
    color: white;
}

div#page-04 #linha-01 .conjunto .links-01 .view {
    background-color: #ffffff;
    color: #086afc;
}

div#page-04 #linha-01 .conjunto .links-01 .view:hover {
    background-color: #6797e0;
    color: #ffffff;
}

/*linha 02*/
div#page-04 #linha-02 {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 15em;
}

div#page-04 #linha-02 .conjunto {
    width: 10em;
    display: flex;
    flex-direction: column;
}

div#page-04 #linha-02 .conjunto .card-principal {
    border: 1px solid blue;
    height: 9em;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #ffffff;
    background-color: #5f9fffd4;
    transition: all 0.5s;
}

div#page-04 #linha-02 .conjunto .card-principal:hover {
    background-color: #09377d;
}

div#page-04 #linha-02 .conjunto .links-02 {
    height: 3em;
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div#page-04 #linha-02 .conjunto .links-02 .deploy, .view {
    border: 1px solid #086afc;
    width: 4.7em;
    height: 3em;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    transition: all 0.5s;
}

div#page-04 #linha-02 .conjunto .links-02 .deploy {
    background-color: #086afc;
    color: white;
}

div#page-04 #linha-02 .conjunto .links-02 .deploy:hover {
    background-color: #6797e0;
    color: white;
}

div#page-04 #linha-02 .conjunto .links-02 .view {
    background-color: #ffffff;
    color: #086afc;
}

div#page-04 #linha-02 .conjunto .links-02 .view:hover {
    background-color: #6797e0;
    color: #ffffff;
}

/*linha 03*/
div#page-04 #linha-03 {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 15em;
}

div#page-04 #linha-03 .conjunto {
    width: 10em;
    display: flex;
    flex-direction: column;
}

div#page-04 #linha-03 .conjunto .card-principal {
    border: 1px solid blue;
    height: 9em;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #ffffff;
    background-color: #5f9fffd4;
    transition: all 0.5s;
}

div#page-04 #linha-03 .conjunto .card-principal:hover {
    background-color: #09377d;
}

div#page-04 #linha-03 .conjunto .links-03 {
    height: 3em;
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div#page-04 #linha-03 .conjunto .links-03 .deploy, .view {
    border: 1px solid #086afc;
    width: 4.7em;
    height: 3em;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    transition: all 0.5s;
}

div#page-04 #linha-03 .conjunto .links-03 .deploy {
    background-color: #086afc;
    color: white;
}

div#page-04 #linha-03 .conjunto .links-03 .deploy:hover {
    background-color: #6797e0;
    color: white;
}

div#page-04 #linha-03 .conjunto .links-03 .view {
    background-color: #ffffff;
    color: #086afc;
}

div#page-04 #linha-03 .conjunto .links-03 .view:hover {
    background-color: #6797e0;
    color: #ffffff;
}



}

/*dispositivos medios*/

@media (min-width: 768px) and (max-width: 1024px) {}

/*GERAL*/

/*dispositivos grandes*/

@media (min-width: 1024px) and (max-width: 1920px) {}