/*font*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter, arial;
}

                                /*dispositivos pequenos*/
/*IOS*/
@media screen and (-webkit-min-device-pixel-ratio: 350px) and (-webkit-max-device-pixel-ratio: 768px){
    
}
/*ANDROID*/
@media (min-width: 350px) and (max-width: 768px){

}

                            /*dispositivos medios*/
/*IOS*/
@media screen and (-webkit-min-device-pixel-ratio: 768px) and (-webkit-max-device-pixel-ratio: 1024px){
    
}

/*ANDROID*/
@media (min-width: 768px) and (max-width: 1024px) {
    
}

                            /*dispositivos grandes*/

@media (min-width: 1024px) and (max-width: 1920px) {
    
}

